*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
  }
  
  .header .topnav .hide-desktop{
    display: none;
  }
  
  
  
  /* Estilo de la barra de navegación */
  .topnav {
    overflow: hidden;
    background-color: #64a3f7;
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
  }
  
  h1, .h1{
      margin: 35px;
  }
  
  .logo{
   width: 50px;
   margin: -10px;
  }
  
  /* Links de la la barra de navegación */
  
  
  .topnav a {
    float: left;
    display: flex;
    color: white;
    background-color: #64a3f7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav .last{
    padding: 9px 16px;
  }
  
  
  /* Hover */
  .topnav a:hover {
    background-color: rgb(11, 197, 197);
    color: white;
  }
  
  
  .topnav .login-container {
    display: flex;
    float: right;
  }
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
  }
  .topnav .login-container button {
    
    padding: 5px;
    background: rgb(89, 230, 24);
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  
  
  /*----------------------------------------------------------------------------------------------------------*/
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 80%;
    max-height: 70%;
    position: relative;
    margin: auto;
  }
  
   .slideshow-container .content {
    position: absolute; /* Position the background text */
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%; 
    padding: 30px;
  }
  
  /* Esconder las imágenes */
  .mySlides {
    display: none;
  }
  
  /* Botones de "anterior" y "siguiente" */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Posición del botón "siguiente */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  /* Indicadores */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  /*---------------------------------------------------------------------------------------------------------*/
  
  .post {
    padding: 1em;
    margin-bottom: -2px;
  }
  .post h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin-top: 4em;
  }
  
  .post ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .post ul li {
    min-height: 300px;
    max-width: 350px;
    margin: 2rem auto;
  }
  
  .post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(11, 197, 197);
    text-align: left;
    padding-bottom: 2em;
  }
  
  .post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
  }
  
  .post article h3 {
    color: white;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .post article p {
    color:white;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
  }
  
  /*---------------------------------------------------------------------------------------------------------*/
  footer{
    display: flex;
    justify-content: center;
    align-content: space-between;
    background-color: #64a3f7;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: -20px;
    color: white;
  }
  
  footer .logo2{
    width: 50px;
  }
  
  /*---------------------------------------------------------------------------------------------------------*/
  
  /* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
  @media screen and (max-width: 768px) {
    
    .topnav .login-container {
      float: none;
    }
  
  .show-desktop {
      display: block;
  }
  
  .hide-desktop {
      display: none;
  }
  
  .hide-mobile {
    display: none;
  } 
  
  .header .topnav .hide-desktop{
    display: block;
  }
  
  .topnav a, .topnav .login-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    
    .topnav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
      width: 368px; /* adjust as needed (as long as it doesn't break the topnav) */
    } 
    
    .topnav .last{
      float: inline-end;
    }
    
  }

  
